@font-face {
  font-family: 'Montserrat';
  src: url('../Assets/Fonts/Montserrat-Thin.ttf');
  font-style: normal;
}
pre{
  font-family: Montserrat, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 

}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #0070f3;
}
::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
